footer {
  background: #f1f1f1;
  padding: 16px 32px;
  position: fixed;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

footer .menu-btn {
  max-width: 70px;
  position: fixed;
  bottom: 4.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #4a5662;
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
  padding: 17px;
  font-size: 13px;
  text-transform: inherit;
  color: #fff;
  line-height: 1;
  border-radius: 50px;
  transition: 0.2s linear;
  width: 100%;
  border: none;
}

footer .button-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

footer .button-section li {
  width: 2rem;
  height: 2rem;
}

.footer-nav-item.active {
  box-shadow: inset -0.125rem 0.125rem 0.25rem 0 rgba(221, 221, 224, 0.2),
    inset 0.125rem -0.125rem 0.25rem 0 rgba(221, 221, 224, 0.2),
    inset -0.125rem -0.125rem 0.25rem 0 rgba(255, 255, 255, 0.9),
    inset 0.125rem 0.125rem 0.3125rem 0 rgba(220, 220, 220, 0.9);
}

.footer-nav-item img {
  height: 18px;
  width: 18px;
}
